<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="Default">
            <directory suffix="Test.php">tests/tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <php>
        <env name="PHPUNIT_MYSQL_HOSTNAME" value="localhost" />
        <env name="PHPUNIT_MYSQL_DATABASE" value="phpunit_tests" />
        <env name="PHPUNIT_MYSQL_USERNAME" value="root" />
        <env name="PHPUNIT_MYSQL_PASSWORD" value="toor" />
    </php>
</phpunit>
